  <!--footer-->
   <div class="footer pt-5 pb-5 text-white-50 text-center text-md-start" style="background-image: url('/images/footer-bg.png')">
    <div class="container">
      <div class="row m-5 ">
        <div class="col-md-6 col-lg-4">
          <div class="info mb-5">
            <img src="/images/logo.png" alt="" class="mb-4" />
            <p class="mb-4">
              is a website that offers courses in programming languages for students. also our site allows users to discover and enrich the level of students through educational articles.<br> The site allows students to study, review and have fun while learning with serious game.
            </p>
            <ul class="list-unstyled fw-semibold">
              <li><span class="fw-semibold">Call : </span><a href="" class="link text-decoration-none"></a> +01 123 4567 890</li>
              <li><span class="fw-semibold">Email : </span><a href="" class="link text-decoration-none"></a>Educode@gmail.com.com</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="links">
            <h5 class="text-light">Links</h5>
            <ul class="list-unstyled lh-lg">
              <li><a href="" class="link text-decoration-none"></a>Home</li>
              <li><a href="" class="link text-decoration-none"></a>About us</li>
              <li><a href="" class="link text-decoration-none"></a>Article</li>
              <li><a href="" class="link text-decoration-none"></a>Courses</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="links">
            <h5 class="text-light">About Us</h5>
            <ul class="list-unstyled lh-lg">
              <li><a href="" class="link text-decoration-none"></a>Sign In</li>
              <li><a href="" class="link text-decoration-none"></a>Sign Up</li>
              <li><a href="" class="link text-decoration-none"></a>About Us</li>
              <li><a href="" class="link text-decoration-none"></a>Contact Us</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="contact">
            <h5 class="text-light">Contact Us</h5>
            <p class="lh-lg mt-3 mb-5">Enter your email address to register to our newsletter subscription</p>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Your Email" aria-label="Search">
              <button class="btn main-btn" type="submit">Subscribe</button>
            </form>
            <ul class="d-flex mt-5 list-unstyled gap-5">
              <li>
                <a href="#" class="d-block text-light">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                 <a href="#" class="d-block text-light">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#" class="d-block text-light">
                  <i class="fa-brands fa-github"></i>
                </a>
              </li>
              <li>
                <a href="#" class="d-block text-light">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>  
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="copyright text-center">
        Copyright 2023 All Rights Reserved by <span>SAW Team </span>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="/axios/dist/axios.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>