<!--navbar-->
<nav class="navbar navbar-expand-lg sticky-top  " >
    <div class="container ">
      <a class="navbar-brand" href="/courses">Coding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-main" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
      <!-- <div class="collapse navbar-collapse " id="nav-main"> -->
        <ul class="navbar-nav m-auto">
          <li class="nav-item "><a class="nav-link p-2 p-lg-3 active" aria-current="page" href="/courses">Home</a></li>
          <li class="nav-item"><a class="nav-link p-2 p-lg-3" href="#">About us</a></li>
          <li class="nav-item"><a class="nav-link p-2 p-lg-3" href="/article">Article</a></li>
          <li class="nav-item"><a class="nav-link p-2 p-lg-3" href="/article/create">Add new Article</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link  p-2 p-lg-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
              <li><a class="dropdown-item" href="cours.html">Html</a></li>
              <li><a class="dropdown-item" href="#">Css</a></li>
              <li><a class="dropdown-item" href="#">Js</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">All courses</a></li>
            </ul>
          </li>
        </ul>
        <a class="btn btn-danger main-btn me-3" data-bs-toggle="modal" data-bs-target="#Modal" href="/users/signin">Sign in</a>
        <a class="btn btn-outline-danger main-btn" href="/users/signup">Sign up</a>
      <!-- </div>  -->
    </div>
</nav>