
<%- include('../partials/header')-%>
<%- include('../partials/navbar')-%>
<div class="container">
  <div class="row">
   <div class="col">
     <h1>mmmmmmmmmmmmmmmm</h1>
   </div>
  </div>
</div>    
<%- include('../partials/footer')-%>