@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--dark-color: #2e3047;
	/* --btn-color: #3bba9c; */
	--btn-color:  hsl(170, 75%, 41%);
	--selective-yellow: hsl(42, 94%, 55%);
	--eerie-black-1: hsl(0, 0%, 9%);
	--eerie-black-2: hsl(180, 3%, 7%);
	--quick-silver: hsl(0, 0%, 65%);
	--radical-red: hsl(351, 83%, 61%);
	--light-gray: hsl(0, 0%, 80%);
	--isabelline: hsl(36, 33%, 94%);
	--gray-x-11: hsl(0, 0%, 73%);
	--kappel_15: hsla(170, 75%, 41%, 0.15);
	--platinum: hsl(0, 0%, 90%);
	--gray-web: hsl(0, 0%, 50%);
	--black_80: hsla(0, 0%, 0%, 0.8);
	--white_50: hsla(0, 0%, 100%, 0.5);
	--black_50: hsla(0, 0%, 0%, 0.5);
	--black_30: hsla(0, 0%, 0%, 0.3);
	--kappel: hsl(170, 75%, 41%);
	--white: hsl(0, 0%, 100%);

	/**
	 * gradient color
	 */

	--gradient: linear-gradient(-90deg, hsl(151, 58%, 46%) 0%, hsl(170, 75%, 41%) 100%);

	/**
	  * typography
	  */

	--ff-league_spartan: 'League Spartan', sans-serif;
	--ff-poppins: 'Poppins', sans-serif;

	--fs-1: 4.2rem;
	--fs-2: 3.2rem;
	--fs-3: 2.3rem;
	--fs-4: 1.8rem;
	--fs-5: 1.5rem;
	--fs-6: 1.4rem;
	--fs-7: 1.3rem;

	--fw-500: 500;
	--fw-600: 600;

	/**
	  * spacing
	  */

	--section-padding: 75px;

	/**
	  * shadow
	  */

	--shadow-1: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
	--shadow-2: 0 10px 30px hsla(0, 0%, 0%, 0.06);
	--shadow-3: 0 10px 50px 0 hsla(220, 53%, 22%, 0.1);

	/**
	  * radius
	  */

	--radius-pill: 500px;
	--radius-circle: 50%;
	--radius-3: 3px;
	--radius-5: 5px;
	--radius-10: 10px;

	/**
	  * transition
	  */

	--transition-1: 0.25s ease;
	--transition-2: 0.5s ease;
	--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
	--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

html {
	font-family: 'Tilt Neon', cursive;
}

body {
	box-sizing: border-box;

}

.navbar .navbar-nav .nav-link,
.navbar .navbar-brand {
	color: black;
	font-size: 17px;
}

.navbar .navbar-nav .nav-link.activ,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
	color: var(--btn-color);
}

.navbar .navbar-toggler {
	color: white;
	border: none;
	box-shadow: none;
}

/*btn styling*/
.main-btn {
	background-color: var(--btn-color);
	border-radius: 8px;
	color: white;
	padding: 0.5rem 1rem;
	font-family: var(--ff-poppins);
}

.main-btn:hover,
.main-btn:focus {
	background-color: var(--btn-color);
	color: white;
}

/* sidebarrrrrr */
.app {
	display: flex;
	min-height: 100vh;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #2e3047;
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 99px;
	background-color: #FFF;
	transition-duration: .25s;
}

.hamburger>span::before {
	content: '';
	top: -8px;
}

.hamburger>span::after {
	content: '';
	top: 8px;
}

.menu-toggle.is-active .hamburger>span {
	transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
	top: 0;
	transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
	top: 0;
	transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	max-width: 300px;
	padding: 2rem 1rem;
	background-color: var(--eerie-black-2);
}

.sidebar h4 {
	color: white;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: #FFF;
	font-size: 2;
	text-decoration: none;
	transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #3bba9c;
	border-right: 5px solid #3bba9c;
}

.sidebar .menu .menu-item:hover {
	border-right: 5px solid #3bba9c;
}

.content {
	flex: 1 1 0;
	padding: 2rem;
}

.content .title-content{
	color: var(--kappel);
	font-size: 3rem;
	margin-bottom: 1rem;
	font-family: var(--ff-league_spartan);
}
.content .title-content:is(:hover, :focus) {
	color: var(--radical-red);
}

.content p {
	color: #000000;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.5;
}
.content .card-title {
	color: var(--radical-red);
	font-size: 35px;
	font-weight: 700;
	opacity: 0.7;
	text-decoration: none;
}

.content #play-btn {
	width: 150px;
	height: 50px;
	background-color: #3bba9c;
	color: #FFF;
	font-size: 1.2rem;
	border: none;
	border-radius: 8px;
	position: absolute;
	bottom: 2rem;
	right: 3rem;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.content #play-btn:hover {
	background-color: var(--eerie-black-2);
	color: #3bba9c;
}

@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}

	.content {
		padding-top: 8rem;
	}

	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
	}

	.sidebar.is-active {
		left: 0;
	}
}

/* sidebarrrrrr */

/* section category */

.section {
	min-height: 100vh;
	padding-top: 20px;
}

.category .section-subtitle {
	color: var(--radical-red);
}

.category .section-title {
	--color: var(--kappel);
}

.span-lang {
	display: inline-block;
	color: hsl(170, 75%, 41%);
}

.section-subtitle {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: var(--fw-500);
	letter-spacing: 1px;
	text-align: center;
	margin-block-end: 15px;
	color: var(--radical-red);
	margin-top: 50px;
}

.section-title {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	margin-block-end: 15px;
}

.section-text {
	font-size: 16px;
	text-align: center;
	margin-block: 15px 25px;
}

.category .section-text {
	margin-block-end: 40px;
	font-weight: 500;
}

.category-card {
	padding: 60px 30px;
	text-align: center;
	margin-left: 20px;
	border-radius: var(--radius-5);
}

.category-card .card-icon {
	background-color: hsla(var(--color), 0.1);
	width: 80px;
	height: 80px;
	display: grid;
	place-items: center;
	border-radius: var(--radius-circle);
	margin-inline: auto;
	margin-block-end: 30px;
}

.category-card .card-text {
	color: var(--eerie-black-1);
	font-size: 16px;
	margin-block: 15px 25px;
}

.category-card .card-title {
	color: hsl(var(--color));
	font-size: 25px;
	line-height: 1.1;
	text-decoration: none;
}

.category-card .card-badge {
	background-color: hsla(var(--color), 0.1);
	color: hsl(var(--color));
	font-size: 16px;
	font-weight: var(--fw-500);
	padding: 2px 18px;
	max-width: max-content;
	margin-inline: auto;
	border-radius: var(--radius-5);
}

.category-card,
.stats-card {
	background-color: hsla(var(--color), 0.1);
}

:is(.course, .blog) .section-title {
	margin-block-end: 40px;
}

/* section category */




/* home page */
.home {
	padding-block-start: calc(var(--section-padding) + 50px);
}

.home-text {
	color: black;
	font-size: 20px;
	text-align: left;
	margin-block: 18px 20px;
	margin-block-end: 30px;
	font-family: var(--ff-poppins);
	gap: 20%;
}

.hi {
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-block-end: 30px;
	color: black;
	text-align: left;
	font-family: var(--ff-league_spartan);
	letter-spacing: 2px;
	line-height: 1;
}

.span-play {
	display: inline-block;
	color: var(--radical-red);
}

.hero-shape {
	top: -10px;
	z-index: 1;
}

.shape {
	display: block;
	position: relative;
	top: -100px;
	left: -100px;
	/* position: absolute */
}

/*-----------------------------------*\
	#BLOG
  \*-----------------------------------*/

.section-subtitle {
	color: var(--radical-red);
}

.blog-card .card-banner {
	border-radius: var(--radius-10);
}

.blog-card .card-banner .img-cover {
	transition: var(--transition-2);
}

.blog-card .card-banner::after {
	inset: 0;
	background-color: var(--black_50);
	opacity: 0;
	transition: var(--transition-1);
}

.blog-card:is(:hover, :focus-within) .card-banner .img-cover {
	transform: scale(1.1);
}

.blog-card:is(:hover, :focus-within) .card-banner::after {
	opacity: 1;
}

.blog-card .card-content {
	position: relative;
	margin-inline: 15px;
	background-color: var(--white);
	padding: 20px;
	border-radius: var(--radius-10);
	box-shadow: var(--shadow-3);
	margin-block-start: -100px;
	z-index: 1;
}

.blog-card .card-btn {
	position: absolute;
	top: -40px;
	right: 30px;
	background-color: var(--kappel);
	color: var(--white);
	font-size: 20px;
	padding: 20px;
	border-radius: var(--radius-circle);
	transition: var(--transition-1);
	opacity: 0;
}

.blog-card .card-btn:is(:hover, :focus) {
	background-color: var(--radical-red);
}

.blog-card:is(:hover, :focus-within) .card-btn {
	opacity: 1;
	transform: translateY(10px);
}

.blog-card :is(.card-meta-item, .card-text, .card-subtitle) {
	font-size: 16px;
	color: var(--gray-x-1);
}

.blog-card .card-subtitle {
	text-transform: uppercase;
	text-align: center;
}

.blog-card .card-title {
	margin-block: 10px 15px;
	transition: var(--transition-1);
	color: var(--eerie-black-1);
	font-family: var(--ff-league_spartan);
	line-height: 1;
}

.blog-card .card-title:is(:hover, :focus) {
	color: var(--kappel);
}

.blog-card {
	padding: 20px 20px;
	border-radius: var(--radius-5);
}

a {
	color: inherit;
	text-decoration: none;
}

.btn-b {
	background-color: var(--kappel);
	color: var(--white);
	font-size: 20px;
	font-family: var(--ff-league_spartan);
	display: flex;
	align-items: center;
	gap: 7px;
	max-width: max-content;
	padding: 10px 20px;
	border-radius: var(--radius-5);
	overflow: hidden;
}

.has-before,
.has-after {
	position: relative;
	z-index: 1;
}

.has-before::before,
.has-after::after {
	position: absolute;
	content: "";
}

.btn-b::before {
	inset: 0;
	background-image: var(--gradient);
	z-index: -1;
	border-radius: inherit;
	transform: translateX(-100%);
	transition: var(--transition-2);
}

.btn-b:is(:hover, :focus)::before {
	transform: translateX(0);
}

.img-holder {
	aspect-ratio: var(--width) / var(--height);
	background-color: var(--light-gray);
	overflow: hidden;
}

.main-title .section-title {
	font-family: var(--ff-league_spartan);
}

.about-img {
	width: 500px;
	height: 500px;
	
}

.about-img img {
	max-width: 100%;
	transition: 0.5s ease;
	border-radius: 20px;
	align-items: center;
}

.about-img:hover img {
	transform: scale(1.1);
}

.img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title-content h1{
	color: var(--kappel);
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 1rem;
	font-family: var(--ff-league_spartan);
}
.title-content h1:is(:hover, :focus) {
	color: var(--radical-red);
}
.text-content p{
	color: var(--eerie-black-2);
	font-size: 20px;
	margin-bottom: 1rem;
	font-family: var(--ff-poppins);
}
.text-content span {
	color: var(--radical-red);
	font-size: 30px;
	font-weight: 500;
	opacity: 0.7;
	text-decoration: none;
}
/* Create a Text Editor  */

/* a {
	cursor: pointer;
} 
.container-text {
	max-width: 991px;
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
}
.toolbar {
	padding: 16px;
	background: #eee;
}
.toolbar .head {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.toolbar .head  input {
	max-width: 100px;
	padding: 6px 10px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
}
.toolbar .head select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.toolbar .head .color {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding: 0  10px;
}
.toolbar .head .color span {
	font-size: 14px;
}
.toolbar .head .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #fff;
	cursor: pointer;
}
.toolbar .head .color input::-moz-color-swatch {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}
.toolbar .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 10px;
}
.toolbar .btn-toolbar button {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.toolbar .btn-toolbar button:hover {
	background: #bebaba;
}
#content {
	padding: 16px;
	outline: none;
	max-height: 50vh;
	overflow: auto;
}
#show-code[data-active="true"] {
	background: #eee;
} */
/* Create a Text Editor  */

.footer {
	background-color: var(--eerie-black-2);
}

.footer .copyright>span {
	color: var(--kappel);
}

.footer .contact ul svg {
	width: 20px;
	height: 20px;
}

.footer .link:focus {
	color: var(--btn-color);
}