<%- include('../partials/header')-%>
<%- include('../partials/navbar')-%>
 
<!--sign up form-->
        
            <div class="container">
              <div class="card shadow m-5">
                <div class="card-body">
                  <h3 class="title p-4 pb-0">Sign up for free</h3>
                  <hr>
                  <%- include('../partials/flashMessages') -%> 
                  <form  action="/users/signup" method="post">
                    <div class="from-group mb-3">
                      <label for="Username" class="form-label">Username</label>
                      <input type="text" class="form-control" name="Username" aria-describedby="Username">
                    </div>
                    <div class="from-group mb-3">
                      <label for="Email1" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="Email1" aria-describedby="emailHelp">
                      <div id="Help" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="from-group mb-3">
                      <label for="Password1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="Password1">
                    </div>
                    <div class="from-group mb-3">
                      <label for="Password2" class="form-label">Confirm Password</label>
                      <input type="password" class="form-control" name="Password2">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="w-100 btn main-btn btn-lg mt-3 shadow">Sign Up</button>
                  </form>
                </div>       
              </div>
            </div>
         
 
<%- include('../partials/footer')-%>