<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> """" Next Level """" </title>
</head>
<body style="background: #efc8a2;">
    <h1 style="color : rgb(63, 7, 7) ; text-align: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">next level :)</h1>  
</body>
</html>