<%- include('../partials/header')-%>
  <%- include('../partials/navbar')-%>

    <main>
      <!-- page home -->
      <section class="section home" style="background-image: url('/images/hero-bg.svg')">
        <div class="container">
          <div class="row">
            <div class="con col-md-6">
              <h1 class="hi">
                Learn <br> Programming <br>Here And <span class="span-play"> Play </span> <br> With Us
              </h1>
              <h5 class="home-text">
                The best program for really mastering programming.<br> Fun, effective and 100% free forever.
              </h5>
              <a href="/cours/lang" class="btn-b btn-lg has-before">
                <span class="span">Start learning</span>
                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
              </a>
            </div>
            <div class="col-md-6 ">
              <img src="/images/Code typing-bro.svg" alt="" class="shape hero-shape">
              <!-- <img src="/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape"> -->
            </div>
          </div>
        </div>
      </section>

      <!-- section category -->
      <section class="section category" id="section category" style="background-color:white;">
        <div class="container">
          <div class="main-title text-center mt-5 mb-5 position-relative">
            <p class="section-subtitle">Languages</p>
            <div class="section-title">
              Choose your <span class="span-lang">Language</span> and start enjoying.
            </div>
            <p class="section-text text-black-50">
              Consectetur adipiscing elit sed do eiusmod tempor
            </p>
          </div>
          <div class="row m-5">
            <div class="col-sm-10 col-md-4 col-lg-3">
              <div class="category-card mb-4" style="--color: 170, 75%, 41%">
                <div class="card-icon">
                  <img src="/images/category-1.svg" class="img">
                </div>
                <h3><a href="#" class="card-title">Html</a></h3>
                <p class="card-text">HTML is the standard markup language for creating Web pages</p>
                <span class="card-badge">7 Lessons</span>
              </div>
            </div>
            <div class="col-sm-10 col-md-4 col-lg-3">
              <div class="category-card mb-4" style="--color: 351, 83%, 61%">
                <div class="card-icon">
                  <img src="/images/category-2.svg" class="img">
                </div>
                <h3><a href="#" class="card-title">Css</a></h3>
                <p class="card-text">CSS describes how HTML elements are to be displayed ....... </p>
                <span class="card-badge">4 Lessons</span>
              </div>
            </div>
            <div class="col-sm-10 col-md-4 col-lg-3">
              <div class="category-card mb-4" style="--color: 229, 75%, 58%">
                <div class="card-icon">
                  <img src="/images/category-3.svg" class="img">
                </div>
                <h3><a href="#" class="card-title">Java Script</a></h3>
                <p class="card-text">JavaScript is a language to create more dynamic interactions web pages</p>
                <span class="card-badge">8 Lessons</span>
              </div>
            </div>
            <div class="col-sm-10 col-md-4 col-lg-3">
              <div class="category-card mb-4" style="--color: 42, 94%, 55%">
                <div class="card-icon">
                  <img src="/images/category-4.svg" class="img">
                </div>
                <h3><a href="#" class="card-title">Python</a></h3>
                <p class="card-text">Python is a language often used to build websites and software</p>
                <span class="card-badge">8 Lessons</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- section about us-->
      <section class="section about" id="section about" style="background-color:hsl(36, 33%, 94%);">
        <div class="container">
          <div class="main-title text-center mt-5 mb-5 position-relative">
            <p class="section-subtitle mt-5">about us</p>
            <div class="section-title">
              Some Stuff <span class="span-lang">About Us</span>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-6 text-center text-md-start mt-5">
                <div class="container mb-5">
                  <div class="title-content">
                    <h1>who are we ?</h1>
                  </div>
                  <div class="text-content">
                    <p><span>EduCode</span> is a website that offers courses in programming languages for
                      students. also our site allows users to discover and enrich the level of students through
                      educational articles. </p>
                    <p>The site allows students to study, review and have fun while learning with serious game.</p>
                  </div><br><br><br>
                </div>
                <img src="/images/blog-shape.png" alt="" class="shape blog-shape">
              </div>
              <div class="col-lg-6  text-center">
                <div class="container">
                  <div class="about-img">
                    <img class="img" src="/images/mario-bg-for the aboutUs.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>

      <!-- section article -->
      <section class="section article">
        <div class="container">
          <div class="main-title text-center mt-5 mb-5 ">
            <p class="section-subtitle">Latest Articles</p>
            <div class="section-title">
              Get Articles With <span class="span-lang">"US"</span> and enjoying.
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-md-6 col-lg-4">
              <div class="blog-card">
                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/R.png" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>
                <div class="card-content">
                  <a href="#" class="card-btn" aria-label="read more">
                    <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                  </a>
                  <h5>
                    <a href="#" class="card-title ">What is Node.js?</a>
                  </h5>
                  <p><i class="fa-regular fa-calendar-days" style="color: #1ab79d;"></i> <span class="span fw-semibold">
                      Oct 10, 2021</span></p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
              <div class="blog-card">
                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/django-features-768x384.jpg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>
                <div class="card-content">
                  <a href="#" class="card-btn" aria-label="read more">
                    <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                  </a>
                  <h5>
                    <a href="#" class="card-title ">Django Software Foundation</a>
                  </h5>
                  <p><i class="fa-regular fa-calendar-days" style="color: #1ab79d;"></i> <span class="span fw-semibold">
                      Oct 10, 2021</span></p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
              <div class="blog-card">
                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/laravel.jfif" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>
                <div class="card-content">
                  <a href="#" class="card-btn" aria-label="read more">
                    <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                  </a>
                  <h5>
                    <a href="#" class="card-title ">
                      The PHP Framework for Web Artisans</a>
                  </h5>
                  <p><i class="fa-regular fa-calendar-days" style="color: #1ab79d;"></i> <span class="span fw-semibold">
                      Oct 10, 2021</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Modal signin -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog"><br><br><br><br>
        <div class="modal-content">
          <div class="modal-header" style="font-size: larger;">
            <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%- include('../partials/flashMessages') -%>
              <form action="/users/signin" method="post">
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" name="Email" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-group mb-3">
                  <label for="InputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="Password">
                </div>
                <div class="form-check mb-3">
                  <input type="checkbox" class="form-check-input" id="Check1">
                  <label class="form-check-label" for="Check1">Check me out</label>
                </div>
                <hr>
                <div class="form-group mb-3">
                  <button type="button" class="btn main-btn " data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn main-btn ">Sign in</button>
                </div>
                <p class="text-center">You do not have an account ? click here to <span> <a href="/users/signup">Create
                      an account</a> </span> </p>
              </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer')-%>