<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;700;800&family=Noto+Kufi+Arabic:wght@300;400;600;700;800&family=Tilt+Neon&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include('../partials/navbar')-%>

    <main>
      <article>
        <!-- <section class="section hero has-bg-image" id="home" aria-label="home"
          style="background-image: url('/images/hero-bg.svg')">
          <div class="container">
            <div class="hero-content">
              <h1 class="h1 section-title">
                Learn Programming Here And <span class="span">Play</span>With Us
              </h1>
              <h5 class="hero-text">
                The best program for really mastering programming. Fun, effective and 100% free forever.
              </h5>
              <a href="#" class="btn has-before">
                <span class="span">Start learning</span>
                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>
            </div>
            <figure class="hero-banner">
              <div class="img-holder one" style="--width: 270; --height: 300;">
                <img src="/images/hero-banner-1.jpg" width="270" height="300" alt="hero banner" class="img-cover">
              </div>
              <div class="img-holder two" style="--width: 240; --height: 370;">
                <img src="/images/hero-banner-2.jpg" width="240" height="370" alt="hero banner" class="img-cover">
              </div>
              <img src="/images/hero-shape-1.svg" width="380" height="190" alt="" class="shape hero-shape-1">
              <img src="/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2">
            </figure>

          </div>
        </section> -->
        <section class="section hero has-bg-image" id="home" aria-label="home"
          style="background-image: url('/images/hero-bg.svg')">
          <div class="container">
            <div class="row">
              <div class="content col-md-6 ">
                <div class="hero-content">
                  <h1 class="hi">
                    Learn Programming Here And <span class="span">Play</span>With Us
                  </h1>
                  <h5 class="hero-text">
                    The best program for really mastering programming.<br> Fun, effective and 100% free forever.
                  </h5>
                  <a href="#" class="btn btn-lg main-btn">Start learning</a>
                </div>
              </div>
              <div class="content col-md-6 ">
                <img src="/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2">
              </div>
            </div>
          </div>
          </div>
        </section>

        <section class="section category mt-5" aria-label="category" style="background-color:white;">
          <div class="container">
            <div class="main-title text-center mt-2 mb-5 position-relative">
              <p class="section-subtitle">Languages</p>
              <div class="section-title">
                Choose your <span class="span-lang">Language</span> and start enjoying.
              </div>
              <p class="section-text text-black-50">
                Consectetur adipiscing elit sed do eiusmod tempor
              </p>
            </div>
            <div class="row m-5">
              <div class="col-sm-10 col-md-4 col-lg-3">
                <div class="category-card" style="--color: 170, 75%, 41%">
                  <div class="card-icon">
                    <img src="/images/category-1.svg" width="40" height="40" loading="lazy" alt="Online Degree Programs"
                      class="img">
                  </div>
                  <h3><a href="#" class="card-title">Html</a></h3>
                  <p class="card-text">HTML is the standard markup language for creating Web pages</p>
                  <span class="card-badge">7 Lessons</span>
                </div>
              </div>
              <div class="col-sm-10 col-md-4 col-lg-3">
                <div class="category-card" style="--color: 351, 83%, 61%">
                  <div class="card-icon">
                    <img src="/images/category-2.svg" width="40" height="40" loading="lazy" alt="Non-Degree Programs"
                      class="img">
                  </div>
                  <h3><a href="#" class="card-title">Css</a></h3>
                  <p class="card-text">CSS describes how HTML elements are to be displayed ....... </p>
                  <span class="card-badge">4 Lessons</span>
                </div>
              </div>
              <div class="col-sm-10 col-md-4 col-lg-3">
                <div class="category-card" style="--color: 229, 75%, 58%">
                  <div class="card-icon">
                    <img src="/images/category-3.svg" width="40" height="40" loading="lazy" alt="Off-Campus Programs"
                      class="img">
                  </div>
                  <h3><a href="/cours/index" class="card-title">Java Script</a></h3>
                  <p class="card-text">JavaScript is a language to create more dynamic interactions web pages</p>
                  <span class="card-badge">8 Lessons</span>
                </div>
              </div>
              <div class="col-sm-10 col-md-4 col-lg-3">
                <div class="category-card" style="--color: 42, 94%, 55%">
                  <div class="card-icon">
                    <img src="/images/category-4.svg" width="40" height="40" loading="lazy"
                      alt="Hybrid Distance Programs" class="img">
                  </div>
                  <h3><a href="#" class="card-title">Python</a></h3>
                  <p class="card-text">Python is a language often used to build websites and software</p>
                  <span class="card-badge">8 Lessons</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>



    <!-- Modal signin -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog"><br><br><br><br>
        <div class="modal-content">
          <div class="modal-header" style="font-size: larger;">
            <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%- include('../partials/flashMessages') -%>
              <form action="/users/signin" method="post">
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" name="Email" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-group mb-3">
                  <label for="InputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="Password">
                </div>
                <div class="form-check mb-3">
                  <input type="checkbox" class="form-check-input" id="Check1">
                  <label class="form-check-label" for="Check1">Check me out</label>
                </div>
                <hr>
                <div class="form-group mb-3">
                  <button type="button" class="btn main-btn " data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn main-btn ">Sign in</button>
                </div>
                <p class="text-center">You do not have an account ? click here to <span> <a href="/users/signup">Create
                      an account</a> </span> </p>
              </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer')-%>