<%- include('../partials/header')-%>

  <div class="app">
    <div class="menu-toggle">
      <div class="hamburger">
        <span></span>
      </div>
    </div>
    <aside class="sidebar" style="background-image: url('/images/footer-bg.png')">
      <a href="/cours" class="card-btn" aria-label="read more">
        <i class="fa-solid fa-arrow-left" style="color: white; font-size: 25px;"></i>
      </a>
      <h4 class="text-center">Java Script</h4>
      <% courses.forEach((cours)=> {%>
        <nav class="menu">
          <a href="<%='/cours/' + cours.id%>" class="menu-item ">
            <%= cours.title%>
          </a>
        </nav>
        <%})%>
    </aside>
    <main class="content" id="11">
      <h1 class="title-content">JavaScript</h1><hr>
      <p>JavaScript is a programming language mainly used on the Internet, in addition to HTML and CSS.
        It uses scripts to create dynamic content. It thus complements the two other basic languages of the Web and can store values, perform operations or even execute code according to certain events.
        It is a prototype-oriented language, that is to say similar to an object-oriented language, but without class.
        Although it is mainly found on the client side, it can also be used on the server side.
        When it loads on the client side, it is a particularly fast and efficient language that does not require any querying to the server. It is appreciated for its simplicity, flexibility and power.
      </p>
      <br>
      <h2 class="title-content">Why Study JavaScript?</h2><hr>
      <p>
        JavaScript is one of the 3 languages all web developers must learn:
        <br><span class="card-title">1.</span> HTML to define the content of web pages
        <br><span class="card-title">2.</span> CSS to specify the layout of web pages
        <br><span class="card-title">3.</span> JavaScript to program the behavior of web pages
      </p>
      <a href="/game"class="btn main btn" id="play-btn">go to play</a>
    </main>
  </div>

  <script>
    const menu_toggle = document.querySelector('.menu-toggle');
    const sidebar = document.querySelector('.sidebar');
    menu_toggle.addEventListener('click', () => {
      menu_toggle.classList.toggle('is-active');
      sidebar.classList.toggle('is-active');
    });   
  </script>
  <%- include('../partials/footer')-%>