<%- include('../partials/header')-%>
<%- include('../partials/navbar')-%>
<!-- section category -->
<section class="section category" id="section category" style="background-color:white;">
    <div class="container">
      <div class="main-title text-center mt-5 mb-5 position-relative">
        <p class="section-subtitle">Languages</p>
        <div class="section-title">
          Choose your <span class="span-lang">Language</span> and start enjoying.
        </div>
        <p class="section-text text-black-50">
          Consectetur adipiscing elit sed do eiusmod tempor
        </p>
      </div>
      <div class="row m-5">
        <div class="col-sm-10 col-md-4 col-lg-3">
          <div class="category-card mb-4" style="--color: 170, 75%, 41%">
            <div class="card-icon">
              <img src="/images/category-1.svg" class="img">
            </div>
            <h3><a href="#" class="card-title">Html</a></h3>
            <p class="card-text">HTML is the standard markup language for creating Web pages</p>
            <span class="card-badge">7 Lessons</span>
          </div>
        </div>
        <div class="col-sm-10 col-md-4 col-lg-3">
          <div class="category-card mb-4" style="--color: 351, 83%, 61%">
            <div class="card-icon">
              <img src="/images/category-2.svg" class="img">
            </div>
            <h3><a href="#" class="card-title">Css</a></h3>
            <p class="card-text">CSS describes how HTML elements are to be displayed ....... </p>
            <span class="card-badge">4 Lessons</span>
          </div>
        </div>
        <div class="col-sm-10 col-md-4 col-lg-3">
          <div class="category-card mb-4" style="--color: 229, 75%, 58%">
            <div class="card-icon">
              <img src="/images/category-3.svg" class="img">
            </div>
            <h3><a href="/cours/index" class="card-title">Java Script</a></h3>
            <p class="card-text">JavaScript is a language to create more dynamic interactions web pages</p>
            <span class="card-badge">8 Lessons</span>
          </div>
        </div>
        <div class="col-sm-10 col-md-4 col-lg-3">
          <div class="category-card mb-4" style="--color: 42, 94%, 55%">
            <div class="card-icon">
              <img src="/images/category-4.svg" class="img">
            </div>
            <h3><a href="#" class="card-title">Python</a></h3>
            <p class="card-text">Python is a language often used to build websites and software</p>
            <span class="card-badge">8 Lessons</span>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('../partials/footer')-%>